.card {
    display: inline-block;
    border: grey solid 2px;
    padding: 0.5rem;
    margin: 1rem 2rem;
    box-shadow: 4px 6px #000000;
    width: 15rem;
    height: 4rem;
}

.card img {
    float: right;
}

.card h3 {
    margin-left: 2rem;
    float: left;
    text-align: center;
}